<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Santiago Romero y Ana Rodriguez.

**Fecha:** 06 de Junio del 2021.

**Expediente** : if715099 y .
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: Link con el enlace del repositorio del creador del proyecto

# Tarea 2: Clase 4

### Ejercicio 1:
Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:

Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

Código de solución estudiante 1

In [17]:
#1 Código de solución Santiago Romero
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]

r = lambda a,b: a * b
def inc(x):
    if x >= 100:
        return x
    else:
        return x+10
res = list(map(lambda x: (x[0], inc(r(x[2], x[3]))),orders))
res

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

Código de solución estudiante 2

In [ ]:
# Código de solución estudiante 2
.
.
.
.

### Ejercicio 2:
La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`

Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

In [19]:
#2 Código de solución Santiago Romero

from functools import reduce
orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)]]

z = lambda a,b: a+b

def inc(x):
    if x >= 100:
        return x
    else:
        return x + 10
res = list(map(lambda x: [x[0]] + 
               list(map(lambda y: inc(y[1] * y[2]),
                        x[1:])), orders))
res = list(map(lambda x: (x[0], reduce(z,x[1:])),res))
res

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

### Ejercicio 3:
Resolver los anteriores ejercicios usando pandas (DataFrame)

In [33]:
#3.1 Código de solución Santiago Romero
import pandas as pd
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
z = lambda a,b: a*b
w = lambda a,b: a+b

def inc(x):
    if x >= 100:
        return x
    else:
        return x + 10

ordenes = pd.DataFrame(orders)

ordenes['Precio'] = (ordenes[2] * ordenes[3]).apply(inc)
ordenes.drop([1,2,3], inplace=True, axis=1)
ordenes.columns = ['Orden', 'Precio']
ordenes

   Orden  Precio
0  34587  163.80
1  98762  284.00
2  77226  108.85
3  88112   84.97

In [119]:
#3.2 Código de solución Santiago Romero
orders2 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]
orders2 = pd.DataFrame(orders2)
orders2['1'] = orders2[1].str[1]
orders2['2'] = orders2[1].str[2]
orders2['3'] = orders2[2].str[1]
orders2['4'] = orders2[2].str[2]
orders2['5'] = orders2[3].str[1]
orders2['6'] = orders2[3].str[2]
orders2.drop([1,2,3], inplace=True, axis=1)

orders2['P1'] = (orders2.iloc[:,1] * orders2.iloc[:,2]).apply(inc)
orders2['P2'] = (orders2.iloc[:,3] * orders2.iloc[:,4]).apply(inc)
orders2['P3'] = (orders2.iloc[:,5] * orders2.iloc[:,6]).apply(inc)
orders2.drop(['1','2','3','4','5','6'], inplace=True, axis=1)
orders2 = orders2.fillna(0)

orders2['Precio'] = orders2.iloc[:,1] + orders2.iloc[:,2] + orders2.iloc[:,3]
orders2.drop(['P1', 'P2', 'P3'], inplace=True, axis=1)
orders2.rename(columns={0: 'Orden'}, inplace=True)
orders2

   Orden  Precio
0      1  688.33
1      2  504.46
2      3  374.80
3      4  502.57

### Ejercicio 4
4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

In [121]:
#4 Código de solución Santiago Romero
frase = 'the notion of a lambda function goes all the way back to the origin of computer science'
list1 = frase.split()
mayora4 = list(filter(lambda x: len(x) > 3, list1))
mayora4

['notion',
 'lambda',
 'function',
 'goes',
 'back',
 'origin',
 'computer',
 'science']

### Ejercicio 5
Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [113]:
#5 Código de solución Santiago Romero
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)

temp = list(filter(lambda x: x >= 32 and x <= 80, temperatures))

porcentaje = len(temp) / len(temperatures)
print(round(porcentaje, 4), " ó ", round(porcentaje*100, 4),"%")

0.4667  ó  46.6667 %

### Ejercicio 6
Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations

In [115]:
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])

Min = np.minimum.reduce(point_xy)
Min

array([0, 2])